body{
  background-color:blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

}
h1{
  font-size: 100px;
  text-align: center;
}
.my-link{
  padding: 10px;
  font-size:15 px;
  color: white;
  text-decoration: none;
}
.my-link:hover{
  color: green;
  text-decoration: underline;
}